# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Declare files that will always have LF line endings on checkout.
*.adb text eol=lf
*.adc text eol=lf
*.ads text eol=lf
*.gpr text eol=lf

# Mark some misidentified files as always binaries
*.pdf -text
*.png -text
*.tgz -text

# Mark templates as generated so their diff is hidden by default at GitHub
src/templates/** linguist-generated=true
