[submodule "deps/alire"]
	path = deps/alire
	url = https://github.com/alire-project/alire.git
[submodule "deps/ahven"]
	path = deps/ahven
	url = ./deps/ahven
[submodule "deps/xmlezout"]
	path = deps/xmlezout
	url = https://github.com/alire-project/xmlezout.git
[submodule "deps/ajunitgen"]
	path = deps/ajunitgen
	url = https://github.com/mosteo/ajunitgen.git
