# Add any directories, files, or patterns you don't want to be tracked by version control

*.cgpr
*.db
*.db-???
*.idea
*.lock
*.xml
*.pyc

.*sw?

/alire/
bin
lib
obj
stress/*/
venv

out/
testsuite/out/
