# Add any directories, files, or patterns you don't want to be tracked by version control

.clang-format
.clangd/

*.cgpr
*.db
*.db-???
*.idea
*.lock
*.xml
*.pyc

.repomix
.*sw?

/alire/
bin/
/config/
lib/
obj/
out/
stress/*/
/testsuite/out/
venv/
