[submodule "deps/xmlezout"]
	path = deps/xmlezout
	url = https://github.com/alire-project/xmlezout.git
[submodule "deps/ajunitgen"]
	path = deps/ajunitgen
	url = https://github.com/mosteo/ajunitgen.git
[submodule "deps/aaa"]
	path = deps/aaa
	url = https://github.com/mosteo/aaa.git
[submodule "deps/semantic_versioning"]
	path = deps/semantic_versioning
	url = https://github.com/alire-project/semantic_versioning.git
[submodule "deps/simple_logging"]
	path = deps/simple_logging
	url = https://github.com/alire-project/simple_logging.git
[submodule "deps/ada-toml"]
	path = deps/ada-toml
	url = https://github.com/mosteo/ada-toml
[submodule "deps/gnatcoll-slim"]
	path = deps/gnatcoll-slim
	url = https://github.com/alire-project/gnatcoll-core.git
	branch = slim
[submodule "testsuite/fixtures/crates/libhello_git"]
	path = testsuite/fixtures/crates/libhello_git
	url = https://github.com/alire-project/libhello.git
[submodule "deps/ansi"]
	path = deps/ansi
	url = https://github.com/mosteo/ansi-ada
[submodule "deps/uri-ada"]
	path = deps/uri-ada
	url = https://github.com/mosteo/uri-ada.git
[submodule "deps/minirest"]
	path = deps/minirest
	url = https://github.com/mosteo/minirest
[submodule "deps/spdx"]
	path = deps/spdx
	url = https://github.com/Fabien-Chouteau/spdx_ada
	branch = 319ca7bcc1e2eb1843aad1f64aca3ecba91a2bcc
[submodule "deps/optional"]
	path = deps/optional
	url = https://github.com/mosteo/optional
[submodule "deps/toml_slicer"]
	path = deps/toml_slicer
	url = https://github.com/mosteo/toml_slicer
[submodule "deps/si_units"]
	path = deps/si_units
	url = https://github.com/HeisenbugLtd/si_units.git
[submodule "deps/stopwatch"]
	path = deps/stopwatch
	url = https://github.com/mosteo/stopwatch
[submodule "deps/clic"]
	path = deps/clic
	url = https://github.com/alire-project/clic.git
[submodule "deps/umwi"]
	path = deps/umwi
	url = https://github.com/mosteo/umwi
[submodule "deps/diskflags"]
	path = deps/diskflags
	url = https://github.com/mosteo/diskflags
[submodule "deps/dirty_booleans"]
	path = deps/dirty_booleans
	url = https://github.com/mosteo/dirty_booleans
[submodule "deps/den"]
	path = deps/den
	url = https://github.com/mosteo/den
[submodule "deps/cstrings"]
	path = deps/cstrings
	url = https://github.com/mosteo/cstrings
[submodule "deps/compare_to_case"]
	path = deps/compare_to_case
	url = https://github.com/mosteo/compare_to_case
