name = "alr"
description = "Command-line tool from the Alire project"

version = "1.3.0-dev"

authors = ["Alejandro R. Mosteo", "Fabien Chouteau", "Pierre-Marie de Rodat"]
maintainers = ["alejandro@mosteo.com", "chouteau@adacore.com"]
maintainers-logins = ["mosteo", "Fabien-Chouteau"]

# At some point we should have a separate alire/libalire crate for use of
# alire.gpr only. For now this crate is not intended as a dependency but to be
# used to build alr.
auto-gpr-with = false
project-files = ["alr.gpr"]
executables = ["alr"]

[[depends-on]]
aaa = "~0.2.7"
ada_toml = "~0.3"
ajunitgen = "^1.0.1"
ansiada = "^1.0"
clic = "~0.3"
gnatcoll = "^21"
minirest = "~0.2"
optional = "~0.1"
semantic_versioning = "^3.0"
simple_logging = "^2.0"
si_units = "~0.2"
stopwatch = "~0.1"
toml_slicer = "~0.1"
uri_ada = "^2.0"
spdx = "~0.2"

# For some reason static-pic is causing problems in CLIC
[gpr-set-externals]
CLIC_LIBRARY_TYPE="static"

# Building alr requires the explicit setting of this variable
[gpr-set-externals."case(os)"]
freebsd = { ALIRE_OS = "freebsd" }
linux   = { ALIRE_OS = "linux" }
macos   = { ALIRE_OS = "macos" }
windows = { ALIRE_OS = "windows" }
"..."   = { ALIRE_OS = "unknown" } # Will cause the build to fail

# Some dependencies require precise versions during the development cycle:
[[pins]]
aaa = { url = "https://github.com/mosteo/aaa", commit = "906d9eaf4fb8efabfbc3d8cfb34d04ceec340e13" }
ada_toml = { url = "https://github.com/mosteo/ada-toml", commit = "da4e59c382ceb0de6733d571ecbab7ea4919b33d" }
clic = { url = "https://github.com/alire-project/clic", commit = "102bc38c7e9469112145e12100449664b5c74764" }
gnatcoll = { url = "https://github.com/alire-project/gnatcoll-core.git", commit = "92bb91130a9ec628b4c48b7ef9fe7f24d9dc25fa" }
semantic_versioning = { url = "https://github.com/alire-project/semantic_versioning", commit = "c2345fca8b685d6d3fc9334fac81140a0cdbea89" }
simple_logging = { url = "https://github.com/alire-project/simple_logging", commit = "703b15ba6e2392951b65a484ce703209750dd0fc" }
stopwatch = { url = "https://github.com/mosteo/stopwatch", commit = "f607a63b714f09bbf6126de9851cbc21cf8666c9" }
