name = "alr"
description = "Command-line tool from the Alire project"

version = "1.1.0-dev"

authors = ["Alejandro R. Mosteo", "Fabien Chouteau", "Pierre-Marie de Rodat"]
maintainers = ["alejandro@mosteo.com", "chouteau@adacore.com"]
maintainers-logins = ["mosteo", "Fabien-Chouteau"]

# At some point we should have a separate alire/libalire crate for use of
# alire.gpr only. For now this crate is not intended as a dependency but to be
# used to build alr.
auto-gpr-with = false
project-files = ["alr.gpr"]
executables = ["alr"]

[[depends-on]]
aaa = "~0.2.1"
ada_toml = "~0.1"
ajunitgen = "^1.0.1"
ansiada = "~0.1"
gnatcoll = "^21"
minirest = "~0.2"
optional = "~0.0.0"
semantic_versioning = "^2"
simple_logging = "^1.2"
uri_ada = "^1"
spdx = "~0.2"

# Building alr requires the explicit setting of this variable
[gpr-set-externals."case(os)"]
macos   = { OS = "macOS" }

# Most dependencies require precise versions during the development cycle
[[pins]]
aaa = { url = "https://github.com/mosteo/aaa.git", commit = "4b4aa047f29a4270c5b5003468617e153977ab97" }
