name = "alr"
description = "Command-line tool from the Alire project"

version = "1.3.0-dev"

authors = ["Alejandro R. Mosteo", "Fabien Chouteau", "Pierre-Marie de Rodat"]
maintainers = ["alejandro@mosteo.com", "chouteau@adacore.com"]
maintainers-logins = ["mosteo", "Fabien-Chouteau"]

# At some point we should have a separate alire/libalire crate for use of
# alire.gpr only. For now this crate is not intended as a dependency but to be
# used to build alr.
auto-gpr-with = false
project-files = ["alr.gpr"]
executables = ["alr"]

[[depends-on]]
aaa = "~0.3.0"
ada_toml = "~0.3"
ajunitgen = "^1.0.1"
ansiada = "^1.0"
clic = "~0.3"
gnatcoll = "^21"
minirest = "~0.3"
optional = "~0.1"
semantic_versioning = "^3.0"
simple_logging = "^2.0"
si_units = "~0.2"
stopwatch = "~0.1"
toml_slicer = "~0.1"
uri_ada = "^2.0"
spdx = "~0.2"

# For some reason static-pic is causing problems in CLIC
[gpr-set-externals]
CLIC_LIBRARY_TYPE="static"

# Building alr requires the explicit setting of this variable
[gpr-set-externals."case(os)"]
freebsd = { ALIRE_OS = "freebsd" }
linux   = { ALIRE_OS = "linux" }
macos   = { ALIRE_OS = "macos" }
windows = { ALIRE_OS = "windows" }
"..."   = { ALIRE_OS = "unknown" } # Will cause the build to fail

# Some dependencies require precise versions during the development cycle:
[[pins]]
aaa = { url = "https://github.com/mosteo/aaa", commit = "fbfffb1cb269a852201d172119d94f3024b617f2" }
ada_toml = { url = "https://github.com/mosteo/ada-toml", commit = "da4e59c382ceb0de6733d571ecbab7ea4919b33d" }
clic = { url = "https://github.com/alire-project/clic", commit = "8d26222de71014554999e48c821906fca0e3dc41" }
gnatcoll = { url = "https://github.com/alire-project/gnatcoll-core.git", commit = "403efe11405113cf12ae3d014df474cf7a046176" }
minirest = { url = "https://github.com/mosteo/minirest.git", commit = "9045d8faafcea996fa7b51ccda84c54712eff821" }
semantic_versioning = { url = "https://github.com/alire-project/semantic_versioning", commit = "2f23fc5f6b4855b836b599adf292fed9c0ed4144" }
simple_logging = { url = "https://github.com/alire-project/simple_logging", commit = "3505dc645f3eef6799a486aae223d37e88cfc4d5" }
stopwatch = { url = "https://github.com/mosteo/stopwatch", commit = "f607a63b714f09bbf6126de9851cbc21cf8666c9" }
