name = "alr"
description = "Command-line tool from the Alire project"

version = "2.0-rc1"

authors = ["Alejandro R. Mosteo", "Fabien Chouteau", "Pierre-Marie de Rodat"]
maintainers = ["alejandro@mosteo.com", "chouteau@adacore.com"]
maintainers-logins = ["mosteo", "Fabien-Chouteau"]

# At some point we should have a separate alire/libalire crate for use of
# alire.gpr only. For now this crate is not intended as a dependency but to be
# used to build alr.
auto-gpr-with = false
project-files = ["alr.gpr"]
executables = ["alr"]

[[depends-on]]
aaa = "~0.3.0"
ada_toml = "~0.3"
ajunitgen = "^1.0.1"
ansiada = "^1.0"
clic = "~0.3"
dirty_booleans = "~0.1"
diskflags = "~0.1"
gnatcoll = "^21"
minirest = "~0.3"
optional = "~0.1"
semantic_versioning = "^3.0"
simple_logging = "^2.0"
si_units = "~0.2.2"
stopwatch = "~0.1"
toml_slicer = "~0.1"
uri_ada = "^2.0"
spdx = "~0.2"

# For some reason static-pic is causing problems in CLIC
[gpr-set-externals]
CLIC_LIBRARY_TYPE="static"

# Building alr requires the explicit setting of this variable
[gpr-set-externals."case(os)"]
freebsd = { ALIRE_OS = "freebsd" }
linux   = { ALIRE_OS = "linux" }
macos   = { ALIRE_OS = "macos" }
windows = { ALIRE_OS = "windows" }
"..."   = { ALIRE_OS = "unknown" } # Will cause the build to fail

# Some dependencies require precise versions during the development cycle:
[[pins]]
[pins.aaa]
url    = "https://github.com/mosteo/aaa"
commit = "dff61d2615cc6332fa6205267bae19b4d044b9da"

[pins.ada_toml]
url    = "https://github.com/mosteo/ada-toml"
commit = "da4e59c382ceb0de6733d571ecbab7ea4919b33d"

[pins.clic]
url    = "https://github.com/alire-project/clic"
commit = "56bbdc008e16996b6f76e443fd0165a240de1b13"

[pins.dirty_booleans]
url    = "https://github.com/mosteo/dirty_booleans"
branch = "alire"

[pins.diskflags]
url    = "https://github.com/mosteo/diskflags"
branch = "alire"

[pins.gnatcoll]
url    = "https://github.com/alire-project/gnatcoll-core.git"
commit = "4e663b87a028252e7e074f054f8f453661397166"

[pins.minirest]
url    = "https://github.com/mosteo/minirest.git"
commit = "9a9c660f9c6f27f5ef75417e7fac7061dff14d78"

[pins.semantic_versioning]
url    = "https://github.com/alire-project/semantic_versioning"
commit = "cc2148cf9c8934fb557b5ae49a3f7947194fa7ee"

[pins.simple_logging]
url    = "https://github.com/alire-project/simple_logging"
commit = "3505dc645f3eef6799a486aae223d37e88cfc4d5"

[pins.si_units]
url    = "https://github.com/mosteo/si_units"
branch = "alire"

[pins.stopwatch]
url    = "https://github.com/mosteo/stopwatch"
commit = "f607a63b714f09bbf6126de9851cbc21cf8666c9"

[pins.toml_slicer]
url    = "https://github.com/mosteo/toml_slicer"
branch = "alire"
