name: CI linux

on:
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '**.rst'
      - '**.txt'
  release:
    types: [published]
  workflow_dispatch:

env:
  alire_index: ""
  # Empty index: test with master of community index
  # Otherwise: test with particular commit/branch
  # e.g.: index: "git+https://github.com/alire-project/alire-index@deadbeef"

jobs:

  build:
    name: CI on Linux

    runs-on: ubuntu-20.04
    # Oldest supported so releases can run on older distros

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install FSF toolchain
      uses: alire-project/alr-install@v2
      with:
        crates: gnat_native gprbuild
        prefix: alire_prefix

    - name: Check toolchain architecture
      uses: mosteo-actions/gnat-toolchain-arch-checker@v1

    - name: Install Python 3.x (required for the testsuite)
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Run test script
      run: scripts/ci-github.sh
      shell: bash
      env:
        BRANCH: ${{ github.base_ref }}
        INDEX: ""

    # Ascertain whether alr can run without the toolchain that built it
    - name: Check standalone alr
      uses: mosteo-actions/alr-standalone-checker@v1
      with:
        alr_path: bin
        toolchain_path: alire_prefix

    - name: Upload binaries
      uses: actions/upload-artifact@v4
      with:
        name: alr-bin-linux.zip
        path: |
          bin/alr
          LICENSE.txt

    - name: Upload logs (if failed)
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: e3-log-linux.zip
        path: testsuite/out

    # Release steps start here. These only run during a release creation.

    - name: Package binaries
      if: (github.event_name == 'release')
      run: zip alr-bin-linux.zip bin/alr LICENSE.txt

    - name: Retrieve upload URL for the release
      if: (github.event_name == 'release')
      id: get_release
      uses: bruceadams/get-release@v1.3.2
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Get release version
      if: (github.event_name == 'release')
      id: get_version
      uses: battila7/get-version-action@v2

    - name: Upload binary assets
      if: (github.event_name == 'release')
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release.outputs.upload_url }}
        asset_path: alr-bin-linux.zip
        asset_name: alr-${{ steps.get_version.outputs.version-without-v }}-bin-x86_64-linux.zip
        asset_content_type: application/zip
