# The purpose of this CI is to run tests in a platform where there is no
# detected native package manager

name: CI unsupported

on:
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '**.rst'
      - '**.txt'

jobs:

  build:
    name: CI on unsupported Linux

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install FSF toolchain
      uses: alire-project/alr-install@v2
      with:
        crates: gnat_native gprbuild

    - name: Install Python 3.x (required for the testsuite)
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Run test script
      run: scripts/ci-github.sh
      shell: bash
      env:
        BRANCH: ${{ github.base_ref }}
        ALIRE_DISABLE_DISTRO: true

    - name: Upload logs (if failed)
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: e3-log-unsupported.zip
        path: testsuite/out
